<div class="jumbotron">
    <h1>WebAPI Template Example</h1>
    <p class="lead">This example uses the VS WebAPI Template.<br />
    It has 2 controllers - one that returns some strings, and one that returns Products from the AdventureWorks database.
    <br />
    It has two ways of getting Help - use the Microsoft (rubbish) API link above, or the lovely Swagger link
    </p>
    
</div>

